<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>Projects of Awesomeness!</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">		
</head>
<body>

<div id="centrering">
<div id="logga">


</div>
<br>
<div id="meny">
<div id="text">
<h2>
<a href="/">HOME</a>

&nbsp; &nbsp; &nbsp; &nbsp; 

<a href="/list">LIST PROJECTS</a>

&nbsp; &nbsp; &nbsp; &nbsp; 

<a href="/techniques">VIEW TECHNIQUES</a>

&nbsp; &nbsp; &nbsp; &nbsp; 

<a href="/search">SEARCH</a>
</h2>
</div>
</div>
  <div id="text">
{% block content %}

{% endblock %}
	
<div id="jesus">
</div>	
</div>
</div>
</body>
</html>
